@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header{
    width:100%;
    top: 0;
    left: 0;

}

/*encabezado*/
.logo img{
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: 200px;
    width: 200px;
}

/*menu*/
.menu{
    display: flex;
    margin: auto;
    width: 100%;
    height: 150px;
    padding: 0px 20px;
    background: #f3f3f3;
}


nav{
    height: 100%;
}

nav > ul{
    height: 100%;
    display: flex;
}
nav ul li{
    height: 100%;
    list-style: none;
    position: relative;
}

nav > ul > li > a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 23px;
    font-size:x-large;
    transition: all 250ms ease;
    font-weight: bolder;
}

nav > ul > li > a:hover{
    color: rgb(41, 160, 184);
}


.texto-seccion #boton:hover{
    color:rgb(32, 168, 157);
}
.imagen-box{
    position: relative;
    display: inline-block;
    text-align: center;
    margin-top: 140px;
    width: 800px;
    margin-right: 200px;
}
.imagen-box img{
    opacity: 1;
    width: 800px;
}

.text-box{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: bolder;
    font-size: x-large;
}
.texto-seccion img{
    filter:brightness(1.1);
    mix-blend-mode: multiply;
    margin-left: 320px;
    width: 40%;
}

/*services*/

.title-services-box{
    margin-top: 40px;
    text-align: center;
    padding: 10px;
    color: #fff;
}
.title-servicios{
    
    display:inline-block;
    position: relative;
    
}
.title-servicios::after,.title-servicios::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: black;
    top:0.6em;
}

.title-servicios::before{
    left:-140px;
}
.title-servicios::after{
    right:-140px;
}

/*main*/

main{
    height: 1600px;
    padding-top: 20px;
    width: 100%;
    background: rgb(45, 45, 88);
}

.services-card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 50px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: #f3f3f3;
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
} 

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

/*footer*/
footer{
    margin-top: 25x;
    width: 100%;
    background: #f3f3f3;
    color: #fff;
}
.logo-footer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.logo-footer img{
    width:130px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 120px;
}
.contactanos{
    display: flex;
    justify-content: center;
}
.contactanos button{
    height: 50px;
    width: 200px;
    background: #fff;
    margin-left: 30px;
    border: 1px solid blue;
    border-radius: 45%;
}
#phone::before{
    content: "📞";
}
#email::before{
    content: "📩";
}


.redes-sociales{
    width: 100%;
}
.redes-sociales ul{
    display: flex;
    justify-content: center;
}
.redes-sociales ul li{
    padding: 15px;

}
.redes-sociales img{
    width: 30px;
}


@media (max-width: 952px){
    .wrp{
        
        width: 100%;
        position:fixed;
    }
}